<launch>

	  <arg name="camera_type_tel"  default="d435"/>  <!-- astrapro, astra, d435 -->
	  <arg name="lidar_type_tel"   default="3iroboticslidar2"/>  <!-- 3iroboticslidar2, ydlidar_g2 -->
	  <arg name="enable_arm_tel"   default="false"/>   
	  <arg name="arm_type_tel"     default="uarm"/>  <!-- uarm, sagittarius_arm -->

  	  <include file="$(find spark_bringup)/launch/driver_bringup.launch">
		          <arg name="camera_type_tel"	value="$(arg camera_type_tel)"/>
		          <arg name="lidar_type_tel"	value="$(arg lidar_type_tel)"/>
		          <arg name="enable_arm_tel"	value="$(arg enable_arm_tel)"/>
		          <arg name="arm_type_tel"	value="$(arg arm_type_tel)"/>		
	  </include>

          <node pkg="swiftpro" type="swiftpro_write_node" name="swiftpro_write_node"/>
     
  	  <node pkg="remote_control_socket" type="server.py" name="server"/>
 
 </launch>
